//
// Footer
//

.bd-footer {
    @include font-size(.875rem);
    text-align: center;
    background-color: #343c47;



    p {
        margin-bottom: 0;
    }

    @include media-breakpoint-up(sm) {
        text-align: left;
    }
}

.bd-footer-links {
    padding-left: 0;
    margin-bottom: 1rem;

    li {
        display: inline-block;

        + li {
            margin-left: 1rem;
        }
    }
}


.footer-section{
    padding: 45px 0 39px;
    .footer_logo{
        display: inline-block;
        float: left;
        margin-right: 36px;
        width: 232px;
        ul{
            padding:0;
            margin-top:42px;
            li{
                list-style: none;
                display:inline-block;
                margin-right:30px;
                svg{
                    path{
                        fill: #c0c3c5;
                    }
                }
            }
        }
    }
    .quick_links{
        padding:0;
        margin:0;
        display:inline-block;
        float: left;
        list-style: none;
    }
    .quick_links.left{
        padding-left:75px;
    }
    a,p{
        color: #c0c3c5;
        font-size: 18px;
        font-family: 'Barlow', sans-serif;
        text-decoration: none;
    }
    h5{
        font-family: 'Barlow Condensed', sans-serif;
        font-size: 18px;
        color:#ffffff;
        margin-bottom:10px;
    }
    .border-line{
        border-left:1px solid #c0c3c5;
        padding: 0 35px;
        .footer_mail{
            margin-bottom:50px;
            display:block;
        }
    }
    .footer_text{
        display:inline-block;
        width:calc(100% - 268px);
    }
    .container-fluid {
        padding:0 30px;
    }
}