.banner_section{
    margin-top:-100px;
    h2{
        font-family: 'Barlow Condensed', sans-serif;
        font-size: 60px;       
        position: absolute;
    font-weight: 700;
    bottom: 0;
    padding-left: 25%;
    text-shadow: 4px 4px 34px rgba(0,0,0,0.65);
    bottom:19px;
    a{
        color: #fff;
        text-decoration: none;
    }
    }
    .banner_title_middle{
        h2{
            padding-left:34%;
        }
    }
}