<section class="customer_section">
    <div class="customer_all_content">
        <h2 class="blue_title">What Our Customers Say</h2>
        <span class="top_text">Donec pulvinar suscipit hendrerit, suspendisse rutrum turpis sit amet dui dictum, eget ullamcorper erat pretium lorem ipsum set.</span>
        <div class="customer_slider">
            <div>
                <div class="customer_content" style="background-image: url(/docs/{{ .Site.Params.docs_version }}/assets/img/quota_img.png)">
                    <div class="customer_box d-flex align-items-center w-100">
                        <div class="customer_img">
                            <img class="img-fluid mx-auto rounded-circle" srcset="/docs/{{ .Site.Params.docs_version }}/assets/img/customer_img1.png"
                                 src="/docs/{{ .Site.Params.docs_version }}/assets/img/customer_img1.png"
                                 alt="logo" loading="lazy"> 
                        </div>
                        <div class="customer_title">
                            <h4>Albert Doe</h4>
                            <span>Founder</span>
                        </div>
                    </div>         
                    <p>Quisque lobortis placerat scelerisque. Mauris pellentesque aliquet iaculis. Integer elementum metus et dolor bibendum, ut pretium elit rhoncus. Ut finibus ornare facilisis, dolor set Suspendisse luctus vel metus tincidunt egestas. Praesent condimentum ac justo vitae commodo. Vivamus cursus sed sem laoreet blandit. Donec pulvinar suscipit hendrerit. Suspendisse rutrum turpis sit amet dui dictum, eget ullamcorper erat pretium.</p>
                </div>
            </div>
            <div>
                <div class="customer_content" style="background-image: url(/docs/{{ .Site.Params.docs_version }}/assets/img/quota_img.png)">
                    <div class="customer_box d-flex align-items-center w-100">
                        <div class="customer_img">
                            <img class="img-fluid mx-auto rounded-circle" srcset="/docs/{{ .Site.Params.docs_version }}/assets/img/customer_img2.png"
                                 src="/docs/{{ .Site.Params.docs_version }}/assets/img/customer_img2.png"
                                 alt="logo" loading="lazy"> 
                        </div>
                        <div class="customer_title">
                            <h4>Ivana Withew</h4>
                            <span>Assistant Manager</span>
                        </div>
                    </div>         
                    <p>Morbi in consectetur mi. Nam pharetra metus erat, porta rhoncus turpis finibus ut. Donec sit amet risus vitae mauris convallis scelerisque eget nec ligula. Sed vitae imperdiet sapien. Donec risus velit, dapibus vel magna id, ullamcorper dignissim arcu. Suspendisse non felis nulla. Cras vitae finibus turpis, sit amet lobortis neque.</p>
             </div>
            </div>
            <div>
                <div class="customer_content" style="background-image: url(/docs/{{ .Site.Params.docs_version }}/assets/img/quota_img.png)">
                    <div class="customer_box d-flex align-items-center w-100">
                        <div class="customer_img">
                            <img class="img-fluid mx-auto rounded-circle" srcset="/docs/{{ .Site.Params.docs_version }}/assets/img/customer_img3.png"
                                 src="/docs/{{ .Site.Params.docs_version }}/assets/img/customer_img3.png"
                                 alt="logo" loading="lazy"> 
                        </div>
                        <div class="customer_title">
                            <h4>Karen Onnabit</h4>
                            <span>Engineer</span>
                        </div>
                    </div>         
                    <p>Suspendisse eu orci tempus, elementum neque nec, malesuada tortor. Nunc egestas maximus leo, sit amet sollicitudin elit semper a. Donec mattis tempor leo, eget fermentum augue volutpat nec. Nullam varius ligula erat, at porta felis venenatis eu. Praesent pulvinar vestibulum mi efficitur tempor. Mauris viverra dolor id velit facilisis luctus.</p>
           </div>
            </div>
         
            
        </div>
    </div>
</section>