<section class="image-text-section">
    <div class="container-fluid">        
        <div class="row align-items-center">
            <div class="col-md-6">
                <img class="img-fluid mx-auto" srcset="/docs/{{ .Site.Params.docs_version }}/assets/img/img_left.png"
             src="/docs/{{ .Site.Params.docs_version }}/assets/img/img_left.png"
             alt="logo" loading="lazy"> 
            </div>
            <div class="col-md-6">
                <div class="text-content">
                 <h2 class="blue_title">Constructions</h2>
                 <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua ut enim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                 <a href="#" class="blue_btn">Learn More</a>
                </div>
            </div>
        </div>
        <div class="image_middle_section">
             <div class="row align-items-center flex-md-row-reverse">
            <div class="col-md-6 text-right">
                <img class="img-fluid mx-auto" srcset="/docs/{{ .Site.Params.docs_version }}/assets/img/img_right.png"
             src="/docs/{{ .Site.Params.docs_version }}/assets/img/img_right.png"
             alt="logo" loading="lazy"> 
            </div>
            <div class="col-md-6">
                <div class="text-content ml-auto pl-0">
                 <h2 class="blue_title">Warehouses</h2>
                 <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua ut enim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                 <a href="#" class="blue_btn">Learn More</a>
                </div>
            </div>
        </div>
        </div>
        <div class="row align-items-center">
            <div class="col-md-6">
                <img class="img-fluid mx-auto" srcset="/docs/{{ .Site.Params.docs_version }}/assets/img/img_left_two.png"
             src="/docs/{{ .Site.Params.docs_version }}/assets/img/img_left_two.png"
             alt="logo" loading="lazy"> 
            </div>
            <div class="col-md-6">
                <div class="text-content">
                 <h2 class="blue_title">Commercial Buildings</h2>
                 <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua ut enim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                 <a href="#" class="blue_btn">Learn More</a>
                </div>
            </div>
        </div>
    </div>
</section>
