<section class="logo-blog-section">
    <div class="container">       
        <div class="row justify-content-center">
            <div class="col-12 col-sm-6 col-md-4 ">
                <div class="card border-0 text-center text-white">
                    <img class="img-fluid mx-auto" srcset="/docs/{{ .Site.Params.docs_version }}/assets/img/logo_img1.png"
                         src="/docs/{{ .Site.Params.docs_version }}/assets/img/logo_img1.png"
                         alt="logo" loading="lazy"> 
                      <h4 class="card-title">Cost</h4>
                      <p>Mitigate Financial Liabilities</p>
                    
                </div>
            </div>
              <div class="col-12 col-sm-6 col-md-4 ">
                <div class="card border-0 text-center text-white">
                    <img class="img-fluid mx-auto" srcset="/docs/{{ .Site.Params.docs_version }}/assets/img/logo_img2.png"
                         src="/docs/{{ .Site.Params.docs_version }}/assets/img/logo_img2.png"
                         alt="logo" loading="lazy"> 
                     <h4 class="card-title">Osha</h4>
                     <p>Calculate Daily Compliance Requirements</p>
                    
                </div>
            </div>
              <div class="col-12 col-sm-6 col-md-4 ">
                <div class="card border-0 text-center text-white">
                    <img class="img-fluid mx-auto" srcset="/docs/{{ .Site.Params.docs_version }}/assets/img/logo_img3.png"
                         src="/docs/{{ .Site.Params.docs_version }}/assets/img/logo_img3.png"
                         alt="logo" loading="lazy"> 
                      <h4 class="card-title">Worker Safety</h4>
                      <p>Save Lives Around The Clock</p>
                    </div>
                
            </div>
            
        </div>
    </div>
</section>